<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
    <h1> Trip Title : <%= trip.TripTitle%></h1> <br />
    <p> Description : <%= trip.Description%></p>
    <p> Price : <%= trip.Price %></p><br />
    <p> Start Date: <%= trip.StartDate%></p><br />
    <p> End Date : <%= trip.EndDate%></p><br />
    <a href="/trips"> back</a>
</body>
</html>